
 <div class="chartBox" style="margin-top:165px; width:600px;">
                      <canvas id="myChart"></canvas>
                    </div>


                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const data = {
    labels: [ 'TOTALSALE','COD','RAZORPAY', 'PAYPAL'],
    datasets: [{
      label: 'Mode of Payment',
      data: [{{totalsale}}, {{cod}},{{razorpay}},{{paypal}}],
      backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
       
      ],
      borderColor: [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        
      ],
      borderWidth: 1
    }]
  };
  
  const config = {
    type: 'bar',
    data,
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  };

  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>

