 <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">User Profile</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="/">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">User Profile</p>
            </div>
        </div>
    </div>




<section class="d-flex justify-content-center">
    <div class="container  m-5 d-flex justify-content-center" style="background-color:rgb(222, 172, 169) ; width: 700px;height: auto;border-radius: 25px;box-shadow: 100px;">
        <div class="row">

            <div class=" col-md-12">
                <h2 class="text-center">
                    Change Password
                </h2>
                <p class="text-danger">{{status}}</p>
                <form action="/change-password" method="post" style="width: 500px;">
                 <input type="text" name="Email" class="form-control" value="{{User.Email}}"hidden>
                    <label for="">Old password</label>
                    <input type="password" name="oldpassword" class="form-control">
                    {{!-- <label for="">Last Name</label>
                    <input type="text" name="LastName" class="form-control" value="{{address.LastName}}"> --}}
                    <label for="">New Password</label>
                    <input type="password" name="newpassword" class="form-control">
                    {{!-- <label for="">Confirm Password</label>
                    <input type="password" name="conpassword" class="form-control"> --}}

                    

                   
                    

                    

                    <button type="submit" class="btn btn-success my-4">Submit</button>

                </form>
            </div>
        </div>
    </div>
</section>

<style>
     .btn-success{
                background-color:  #D19C97;
                border-color:  #D19C97;
            }
</style>