 <div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center">OTP VERIFICATION</h2>
              <p class="error">{{otperr}}</p>
             <form action="/otp" method="post">
              
           
            
                {{!-- <div class="form-group">
                    <label>Mobile Number</label>
                    <input type="number" class="form-control" onkeyup="validEmail()" name="Number" placeholder="Enter mobile number">
                    <span id="emailerr" class="text-danger"></span>

                </div> --}}
                <div class="form-group">
                    {{!-- <label>otp</label> --}}
                    <input type="number" class="form-control" onkeyup="validPassowrd()" name="Otp" placeholder="Enter OTP">
                     <span id="passworderr" class="text-danger"></span>

                </div>
                {{!-- <a href="/">Create new Account</a> --}}
                <button type="submit" class="btn btn-primary float-right" onclick="return validation()">Verify</button>
             </form>
        </div>
    </div>
 </div>
